{{ 'TEST.css' | asset_url | stylesheet_tag }}
<script src="{{ 'TEST.js' | asset_url }}" defer></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">

<div class="test-hero" id="test-hero-{{ section.id }}">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "TEST Hero",
  "tag": "section",
  "class": "test-hero-section",
  "blocks": [
    {
      "type": "test-hero-header"
    },
    {
      "type": "test-hero-test"
    },
    {
      "type": "test-hero-bottom"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "TEST Hero",
      "blocks": [
        {
          "type": "test-hero-header"
        },
        {
          "type": "test-hero-test",
          "blocks": [
            {
              "type": "test-hero-heading"
            },
            {
              "type": "test-hero-description"
            },
            {
              "type": "test-hero-button"
            }
          ]
        },
        {
          "type": "test-hero-bottom"
        }
      ]
    }
  ]
}
{% endschema %}
